<div class="padding" ng-controller="PrayersCtrl as prayers">
  <super-navbar>
    <super-navbar-title>
      I'm Praying
    </super-navbar-title>
    <super-navbar-button ng-click="prayers.refresh()" side="right">
      Refresh
    </super-navbar-button>
  </super-navbar>
  <form class="card" ng-submit="prayers.createPrayer()">
    <label class="item item-input">
      <input type="text" placeholder="What is your prayer request?" ng-model="prayers.request"></input>
    </label>
    <div class="item item-divider" ng-show="prayers.request">
      <button type="submit" class="button button-block button-positive">Create request</button>
    </div>
  </form>
  <ul class="list">
    <prayer-preview data-prayer-id="prayer.id" ng-repeat="prayer in prayers.feed | orderBy:'-timestamp'"></prayer-preview>
  </ul>
</div>
